.fieldblock-fieldtype {
	position: relative;
}

.fieldblock-fieldtype::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 8px;
	left: 10px;
	width: 100%;
	background: rgba(63,63,68,.1);
	height: 1px;
}

.fieldblock-fieldtype:not(.end) {
	margin-bottom: 8px;
}

.fieldblock-fieldtype.end {
	padding: 0;
}

.fieldblock-fieldtype.end .field-inner {
	display: none;
}

.fieldblock-fieldtype.end::after {
	left: -10px;
	width: calc(100% + 20px);
}

.fieldblock-fieldtype .field-inner {
	display: inline-block;
	padding-right: 25px;
	position: relative;
	padding-top: 10px;
	border-right: 1px solid rgba(63,63,68,.1);
	border-bottom: 1px solid #fff;
	background: #fff;
	z-index: 1;
}

.fieldblock-fieldtype .field-inner::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -20px;
	width: calc(100% + 20px);
	background: rgba(63,63,68,.1);
	height: 1px;
}

.fieldblock-fieldtype label.block {
	font-size: 18px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-weight: 300!important;
	color: #32325d;
}